<% provide(:title, "TOP") %>

<!-- 行を増やせば背景画像も拡大する模様 -->
<div class="jumbotron jumbotron-fluid top-wrapper">
  <div class="container">
    <h1 class="display-4 top-bgtext">今日の空を投稿しよう</h1>
    <div class="top-text lead">
      <p>空を見上げてみましょう。</p>
      <p>今、何が見えるでしょうか？</p>
      <p>太陽の輝き　　月のきらめき</p>
      <p>あの雲の形は何に見えるだろう</p>
      <p>あの星をつないだら何ができるだろう</p>
      <p>一つとして同じ表情はない 今この瞬間。</p>
      <p>今あなたが見ている空を投稿しよう</p>
    </div>
  </div>
  <div class="container">
    <!-- <hr class="my-4"> 横線 -->
    <p class="lead">
      <a class="btn btn-success btn-ghost btn-lg" href="#" role="button">Look for MORE</a>
    </p>

  </div>
  <div class="jumbotron jumbotron-fluid top-post-wrap">
    <p>
      投稿画像を表示させる
    </p>
  </div>
</div>

<!-- ###### -->
