<% provide(:title, "Create") %>
<!-- Alert 成功しました系メッセージ。spanの中はアイコン -->
<div class="alert alert-info" role="alert">
  <strong>
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
  </strong>：新規ユーザーとして登録しました。
  <!-- <a href="/user/index" class="alert-link">一覧へ戻る</a> を書き換え-->
  <%= link_to '一覧へ戻る', users_path, class: "alert-link" %>
</div>

<div class="reslut_icon" >
  <img src="/entry-card.png" class="img-responsive" alt="">
</div>
