<% provide(:title, "Create") %>

<div class="alert alert-primary" role="alert">
  新規ユーザーとして登録しました。<%= link_to '一覧へ戻る', users_path, class: "alert-link" %>
</div>

<div class="reslut_icon" >
  <img src="/entry-card.png" class="img-responsive" alt="">
</div>
