<!-- spanの中はアイコン -->
<div class="alert alert-dager" role="alert"><strong><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
</strong>：ユーザー情報を削除しました。
<a href="/user/index" class="alert-link">一覧へ戻る</a></div>

<div class="reslut_icon" >
<img src="/ゴミ箱のアイコン.png" class="img-responsive" alt="">
</div>
