<% provide(:title, "Destroy") %>

<div class="alert alert-danger" role="alert">
  ユーザー情報を削除しました。<%= link_to '一覧へ戻る', users_path, class: "alert-link" %>
</div>

<div class="reslut_icon" >
  <img src="/trashbox-icon.png" class="img-responsive" alt="">
</div>
