<!-- Alert 成功しました系メッセージ。spanの中はアイコン -->
<div class="alert alert-success" role="alert"><strong><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
</strong>：変更を反映しました。
<a href="/user/index" class="alert-link">一覧へ戻る</a></div>


<div class="reslut_icon" >
<img src="/アップロードアイコン青.png" class="img-responsive" alt="">
</div>
