<% provide(:title, "Update") %>
<!-- Alert 成功しました系メッセージ。spanの中はアイコン -->

<ul class="list-group">
  <li class="list-group-itm list-group-item-success">
    <img src="/upload-icon-blue.png" class="img-fluid" alt="">
    変更を反映しました。
    <%= link_to '一覧へ戻る', users_path, class: "alert-link" %>
  </li>
</ul>


<div class="reslut_icon" >
  <img src="/upload-icon-blue.png" class="img-responsive" alt="">
</div>
</div>
