<% provide(:title, "投稿しました") %>
<h3>投稿フォームの内容を送信しました</h3>

<%= link_to '投稿一覧を確認', user_posts_path(@user), class: "alert-link" %>

<div class="reslut_icon" >
  <img src="#" class="img-responsive" alt="">
</div>
