<h1>ID No.<%= @user.id %> <%= @user.name %>の投稿内容一覧</h1>
<% @posts.each do |post| %>
  <p>コメント：<%= post.content %></p>
  <p>投稿写真：
    <%#= image_tag @post.post_image_name_url(:thumb) %>
  </p>
<% end %>
