<h2>新しい投稿</h2>
<%= simple_form_for @post, :url => {:action => :create} do |f| %>
  <%= f.input :post_image_name, as: :file, label: "画像" %>
  <!--  #as: :fileでアップロードフォームが作れる -->
  <%= f.input :content, label: "コメント" %>
  <%= f.button :submit, "登録！", :class=>"btn" %>
<% end %>
