/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// bootstrapの導入

@import "bootstrap";


// Whatever application styles you have go last
// @import "base";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


// .form-input {
  label {
    margin: 2px 10px;
    &.radio, &.checkbox {
      float: none;
      margin: 0;
      width: auto;
      text-align: left;
    }
    &.checkbox {
      display: block;
    }
    &.radio { margin-right: 10px; }
  }

  textarea {
    width: 300px;
  }

  // input { margin-bottom: 10px;} form-groupで余白ができてるのでここは省略
  input.radio_buttons, input.check_boxes {
    margin-right: 5px;
  }
  .alert-error {
    color: #D00;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .hint, .error {
    clear: left;
    font-size: 12px;
    color: #D00;
    display: block;
  }
  .hint {
    color: #555;
    font-style: italic;
  }

.reslut_icon{
  height: inherit;
  margin: 80px auto;
  width: 300px;
  opacity: 0.5;
  display: block;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;無効？
  // .form-control {
  //   color: red;
  // }
}

/* miscellaneous デバッグ情報 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.jumbotron{
  margin-bottom: 0;
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}



.top-wrapper {
  z-index: 100;
  position: absolute;

}

.top-post-wrap{
  opacity: 0.7;
  margin-top: 80px;
  z-index: 100;
  height: 300px;
  display: block;
  position: absolute;
}

.carousel slide {
  z-index: -9999;
  position: absolute;
  width: 100%;
  height: auto;
}

.carousel-inner{
  height: auto;
}
// user-tableクラス
.user-table{
  padding: 40px 20px 30px 20px;
}
//divなどを中央配置。ナビバー分上の余白を空けた コンテンツの中央配置
.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
// fontawesomeのアイコン
.fab{
  display: inline-block;
  // font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  color: #3aabd2;
  margin: auto;
}
.far{
  margin-right: 10px;
}


// user#showのボタンの横幅を合わせる
.show-btn {
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
}

.btn-ghost{
  // 背景を透過
  background: transparent;
  background-color: rgba(43, 59, 114, 0.5);
}

// ゴーストボタンと組み合わせた場合のテキスト色(btn-successとbtn-ghostをつけると指定した色になる)
.btn-ghost.btn-success{
  color: rgb(234, 228, 167);
}

// ホバー時の文字色と背景色
.btn-ghost.btn-success:hover{
  color: #f5f5f5;
  background-color: rgba(#f11443, 0.53);
}

// 枠線も文字も白のボタンを作る
.btn-ghost.btn-white{
  color: #fff;
  border: 1px solid #fff;
}
.btn-ghost.btn-white:hover{
  color: #333;
  background: #fff;
}
// カスタムカラー設定
.btn-ac1{
  color: #f5f5f5;
  background-color: #fc5185;
}
.ac2{
  color: #364f6b;
}
