<!DOCTYPE html>
<html>
<head>
  <title>Userlists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- application.html.erbでライブラリの読み込み（5系のみ）
    jQuery
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    Bootstrap CDN
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            ※Bootstrapのファイルをネット上から読み込んで使用する。これにより、Bootstrapに関連するファイルをダウンロードしなくて済む -->
</head>

<body>
  <!-- Bootstrapでナビゲーションバーを実装 navbar-fixed-top:上部に固定-->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- サイトタイトル部分 -->
      <a class="navbar-brand" href="/user/index">
        <!-- aタグを挟んでサイトサイトタイトルを入れられる。↓のように画像でもok -->
      <img alt="Brand" src="/ペストマスク赤.png" style="height: 20px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">メニューA<span class="sr-only">(current)</span></a></li>
        <li><a href="/user/index">ユーザーの一覧を見る</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/new">ユーザー新規登録</a></li>
            <li><a href="/posts/index">投稿一覧を見る</a></li>
            <li><a href="/posts/new">新規投稿</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <!-- 検索窓 form -->
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索キーワード">
        </div>
        <button type="submit" class="btn btn-default">検索</button>
      </form>

      <!-- ナビバー 右寄せの項目 -->
      <!-- ユーザー新規作成画面へ -->
      <ul class="nav navbar-nav navbar-right">
        <!-- class="navbar-text"を指定して、p要素内のテキストにaリンク -->
        <li><p class="navbar-text">ようこそ<a href="/users/new" class="navbar-link">ゲスト</a>さん</p></li>

        <!-- ドロップダウン２ -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown2 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>

     <!-- ナビバーの中のボタン設置。classにnavbar-btnを指定すること -->
     <a class="btn btn-info navbar-btn" href="/user/new" role="button">Sign in</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- ナビバーに追加
  <a href="/user/index">ユーザー一覧</a>
  <a href="/user/new">ユーザー新規作成</a> -->
<%= yield %>

</body>
</html>
